.footer{
    background-color: $color-black;
    color: $color-white;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    &_title {
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-family: Shrikhand;
        font-size: 1.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include mobile() {
            justify-content: space-between;
        }
        @include small-tablet() {
            justify-content: space-between;
        }
    }
    &_list {
        padding-bottom: 3.3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &_item {
            @include mobile() {
                width: 100%;
            }
            @include small-tablet(){
                width: 100%;
                justify-content: space-between;
            }
            @include tablet() {
                width: 48%;
            }
            @include laptop() {
            width: 25%;
            }
            @include desktop() {
                width: 25%;
            }
            font-size: 1.6rem;
            color: $color-white;
            text-decoration: none;
            line-height: 2.6rem;
            display: block;
        }
        &_icon {
            font-size: 1.3rem;
            width: 2.2rem;
            text-align: center;
            display: block;
        }
    }    
}