.footer{
    background-color: $color-black;
    color: $color-white;
    &_title {
        margin-left: 2.4rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-family: Shrikhand;
        font-size: 1.8rem;
    }
    &_list {
        padding-bottom: 3.3rem;
        &_item {
            margin-left: 2.4rem;
            font-size: 1.6rem;
            color: $color-white;
            text-decoration: none;
            line-height: 2.6rem;
            display: block;
            &_icon{
                font-size: 1.3rem;
                width: 2.2rem;
                text-align: center;
                display: block;
            }
        }    
    }
    

}