body {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: normal;
    line-height: 1.1;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: normal;
    line-height: 1.1;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 1.1;
    
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 3rem;
}
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}
.location {
    font-size: 1.8rem;
    font-weight: normal;
}