.location {
    width:100%;
    height: 4.9rem;
    background-color: $color-light-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -0.3rem 1rem 0rem darken($color-light-grey,30%);
    &_map-icon {
        padding-right: 2rem;
    }
}
.introduction {
    padding: 3.8rem 0 5.7rem 0;
    background-color: $color-very-light-grey;
    text-align: center;
    &_title{
        Padding: 0 4rem;
    }
    &_subtitle{
        margin-top: 1.5rem;
        margin-bottom: 3.2rem;
        font-size: 1.8rem;
        font-weight: lighter;
        line-height: 1.1;
    }
}

.operation {
    @include small-tablet() {
        max-width: $mobile-breakpoint;
        margin-left: auto;
        margin-right:auto;
    }
    @include desktop() {
        max-width: $desktop-breakpoint;
        margin-left: auto;
        margin-right:auto;
    }
    margin-top: 5rem;
    background-color: $color-white;
    padding-left: 3rem;
    padding-right: 3rem;
    &_title{
        padding-bottom: 3rem;
        margin-left:-1.2rem;
    }
    &_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
 
.operation_list_step {
    @include mobile() {
        width: 100%;
    }
    @include small-tablet() {
        width: 100%;
    }
    @include tablet() {
        width: 31%;
    }
    @include laptop() {
        width: 31%;
    }
    @include desktop() {
        width: 31%;
    }
    flex-shrink: 0;
    font-weight: 500;
    font-size: 1.5rem;
    height: 7.3rem;
    margin: 0 0 2.4rem 0;
    padding-right: 2rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    position:relative;
    &--grey {
        background-color: $color-very-light-grey;
        @include box-shadow();
        transition: background-color, box-shadow 500ms;
        &:hover{
            background-color: lighten($color-very-light-grey, 2%);
            @include box-shadow-dark();
        }
    }
    &--colored {
        background-color: $color-primary-light;
        @include box-shadow();
        transition: background-color, box-shadow 500ms;
        &:hover{
            background-color: lighten($color-primary-light, 2%);
            @include box-shadow-dark();
        }
    }
    &_icon {
        padding: 0 2.7rem 0 3.4rem;
        color: $color-mid-grey;
        font-size: 2.1rem;
        &--colored {
            color: $color-primary;
        }
    }
    &_bullet {
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 1.2rem;
        background-color: $color-primary;
        color: $color-white;
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 2.4rem;
        text-align: center;
        position: absolute;
        left:-1.2rem;
    }
}
.restaurants {
    @include small-tablet() {
        max-width: $mobile-breakpoint;
        margin-left: auto;
        margin-right:auto;
    }
    @include desktop() {
        max-width: $desktop-breakpoint;
        margin-left: auto;
        margin-right:auto;
    }
    margin-top: 6.6rem;
    background-color: $color-very-light-grey;
    padding: 5.4rem 2rem 3rem 2rem;
    &_list {
        margin-top: 2.4rem;
        padding-bottom: 1.6rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &_card {
            @include mobile() {
                width: 100%;
            }
            @include small-tablet() {
                width: 100%;
            }
            @include tablet() {
               width: 48%;
            }
            @include laptop() {
                width: 23%;
            }
            @include desktop() {
                width: 23%;
            }
            display: block;
            text-decoration: none;
            background-color: white;
            border-radius: 1rem;
            overflow: hidden;
            @include box-shadow();
            position: relative;
            margin-bottom: 1.8rem;
            &_link {
                text-decoration: none;
            }
            &_img {
                width: 100%;
                object-fit: cover;
                height: 17.4rem;
                display:block;
            }
            &_legend {
                margin-left: 1.2rem;
                margin-top: 1.7rem;
                font-size: 1.4rem;
                color: $color-black;
                padding-bottom: 1rem;
            }
            &_is-favorite {
                bottom: 3rem;
                @include is-favorite();
            }
        }
    }
}
.restaurants_list_card--is-new {
    &:after {
        content: "Nouveau";
        height: 2.8rem;
        line-height: 2.8rem;
        padding: 0 1.2rem;
        border-radius: 0.2rem;
        background-color: $color-tiertiary;
        color: darken($color-tiertiary, 40%);
        font-size: 1.4rem;
        font-weight: 500;
        position: absolute;
        top: 1rem;
        right:1.2rem;
    }
}
.fa-heart:hover {
    cursor:pointer;
}
.hidden-checkbox {
    display: none;
}

@for $i from 1 through 4 {
    #heart#{$i}:checked + label> .restaurants_list_card_is-favorite--yes {
        opacity: 1;
    }
    #heart#{$i}:checked + label> .restaurants_list_card_is-favorite--no {
        opacity: 0;
    }
}


//==============================================================================
/*                                                                            *
 * Animations used for loading spinner                                        *
 *                                                                            */
//==============================================================================

//==============================================================================
/*                                                                            *
 * spin-and-scale is used only for the loading-spinner-circle div.            *
 * it allows scaling of the div itself and the pseudo-elements :before and    *
 * :after.                                                                    *
 *                                                                            */
//==============================================================================
@keyframes spin-and-scale {
    0% { 
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(360deg) scale(0.1);
    
    }
}

//==============================================================================
/*                                                                            *
 * spin is used only for the the pseudo-elements :before and :after.          *
 * It allows quicker rotation of inner circle coming in addition of div       *
 * rotation itself.                                                           *
 *                                                                            */
//==============================================================================
@keyframes spin {
    0% { 
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

//==============================================================================
/*                                                                            *
 * scroll-disable : used to disable main page scrolling by hiding overflow    *
 * during loading spinner animation                                           *
 *                                                                            */
//==============================================================================
@keyframes scroll-disable {
    0%{
        overflow:hidden;
    }
    99%{
        overflow:hidden;
    }
       100%{
        overflow:visible;
    }
}

//==============================================================================
/*                                                                            *
 * loading-spinner-opacity : used to decrease opacity of the spinner and make *
 * it fully vanishing at the end of the annimation (visibility: hidden) to    *
 * enable back intercation with page behind.                                  *
 *                                                                            */
//==============================================================================
@keyframes loading-spinner-opacity {
    0% { 
        opacity:0.9;
      }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity:0;
        visibility: hidden;
      }
}

//──── use of scroll-disable on page body ──────────────────────────────────────
.main-page {
    animation: scroll-disable $loading-spinner-duration linear both;
}

//==============================================================================
/*                                                                            *
 * loading spinner definition                                                 *
 * loading-spinner div is used to cover all the viewport and inhibate all     *
 * actions.                                                                   *
 * circle child div is used to build 3 rotating 45° circle segments which are *
 *  the borders of this square div and its :before and :after pseudo          *
  * -elements.                                                                *
 * the inner circle rotate quicker than middle one, and outer less than       *
 * middle                                                                     */
//==============================================================================

.loading-spinner {
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    position:fixed;
    top:0; left: 0;
    opacity:0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: loading-spinner-opacity $loading-spinner-duration linear both;
    &_circle {
        width: $loading-spinner-size;
        height: $loading-spinner-size;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        border-radius: $loading-spinner-size / 2;
        border: $loading-spinner-circle-thikness solid transparent;
        border-top-color: $color-primary;
        animation: spin-and-scale $loading-spinner-duration linear 1 both;
    }
    &_circle:after {
        content: "";
        position: absolute;
        top: $loading-spinner-circle-thikness * 2; left: $loading-spinner-circle-thikness * 2;
        bottom:$loading-spinner-circle-thikness * 2; right: $loading-spinner-circle-thikness * 2;
        border-radius: ($loading-spinner-size - $loading-spinner-circle-thikness * 4) / 2;
        border: $loading-spinner-circle-thikness solid transparent;
        border-top: $loading-spinner-circle-thikness solid $color-secondary;
        animation: spin $loading-spinner-duration/2 linear 2 both;
    }
    &_circle:before {
        content: "";
        position: absolute;
        top: $loading-spinner-circle-thikness * 5; left: $loading-spinner-circle-thikness * 5;
        bottom: $loading-spinner-circle-thikness * 5; right: $loading-spinner-circle-thikness * 5;
        border-radius: ($loading-spinner-size - $loading-spinner-circle-thikness * 10) / 2;
        border: $loading-spinner-circle-thikness solid transparent;
        border-top: $loading-spinner-circle-thikness solid $color-tiertiary;
        animation: spin $loading-spinner-duration/3 linear 3 both;
    }
}