
@mixin primary-button {
    height: 5rem;
    min-width: 18.6rem;
    padding: 0 2.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-style:normal;
    border-radius: 2.5rem;
    color: $color-white;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0.5rem 0.5rem 0.5rem darken($color-very-light-grey, 10%);
}    
