
@mixin box-shadow {
    box-shadow: 0.5rem 0.5rem 0.5rem darken($color-very-light-grey, 10%);
}
@mixin box-shadow-dark {
    box-shadow: 0.5rem 0.5rem 0.5rem darken($color-very-light-grey, 30%);
}

@mixin primary-button {
    height: 5rem;
    min-width: 18.6rem;
    padding: 0 2.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-style:normal;
    border-radius: 2.5rem;
    color: $color-white;
    border: none;
    background: $pink-gradient;
     @include box-shadow();
    opacity: 1;
    transition: opacity, box-shadow 500ms;
    &:hover{
        opacity: 80%;
        @include box-shadow-dark();
    }
    &--clickable:hover {
        cursor: pointer;
    }
}    
