$color-primary: #9356DC;
$color-primary-light: #F5EDFF;
$color-secondary: #FF79DA ;
$color-tiertiary: #99E2D0;
$color-white: #FFFFFF;
$color-black: #000;
$color-mid-grey: #7E7E7E;
$color-light-grey: #EAEAEA;
$color-very-light-grey: #F6F6F6;

$pink-gradient: linear-gradient( $color-secondary, $color-primary); 